@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme('colors.basic.white');
  --foreground: theme('colors.basic.black');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: theme('colors.bg.dark');
    --foreground: theme('colors.gray.200');
  }
}

body {
  @apply text-[var(--foreground)] bg-[var(--background)] font-pretendard;
}

/* 헤딩 및 디스플레이 스타일 */
.display-bold {
  @apply text-display font-bold;
}

.display-regular {
  @apply text-display font-normal;
}

.heading-bold {
  @apply font-bold;
}

.heading-light {
  @apply font-light;
}

/* 예시 */
h1 {
  @apply text-h1 heading-bold;
}

h2 {
  @apply text-h2 heading-bold;
}

h3 {
  @apply text-h3 heading-bold;
}

h4 {
  @apply text-h4 font-semibold;
}

h5 {
  @apply text-h5 font-bold;
}

h6 {
  @apply text-h6;
}

@layer base {
  * {
    @apply border-primary-01;
  }
}

.prose {
  @apply text-gray-300;
}
.prose h1 {
  @apply text-gray-300 text-h2 font-bold mt-8 mb-4 leading-[54px] break-keep;
}

.prose h2 {
  @apply text-gray-300 text-h3 font-semibold mt-6 mb-3;
}

.prose h3 {
  @apply text-gray-300 text-h4 font-semibold mt-5 mb-2;
}

.prose a {
  @apply text-primary-02 text-h4 font-semibold mt-5 mb-2;
}

.prose p {
  @apply text-gray-300 leading-relaxed mt-4 mb-4;
}

.prose strong {
  @apply text-gray-300;
}

.prose table th,
.prose table td,
.prose table tr {
  @apply text-gray-300; /* 테이블 헤더와 셀 텍스트 색상 */
}

/* .prose pre {
  @apply bg-gray-900 text-white rounded-md p-4 overflow-auto mt-6 mb-6;
} */

.prose p code {
  @apply bg-gray-300 text-primary-01 px-1 py-0.5 rounded;
}

.prose ul,
.prose ol {
  @apply pl-6 mt-4 mb-4;
}

.prose li {
  @apply mt-1 mb-1;
}

.prose img {
  @apply mx-auto my-6 max-h-96 rounded-lg shadow-lg;
}
