@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme("colors.basic.white");
  --foreground: theme("colors.basic.black");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: theme("colors.bg.dark");
    --foreground: theme("colors.gray.200");
  }
}

body {
  @apply text-[var(--foreground)] bg-[var(--background)] font-pretendard;
}

/* 헤딩 및 디스플레이 스타일 */
.display-bold {
  @apply text-display font-bold;
}

.display-regular {
  @apply text-display font-normal;
}

.heading-bold {
  @apply font-bold;
}

.heading-light {
  @apply font-light;
}

/* 예시 */
h1 {
  @apply text-h1 heading-bold;
}

h2 {
  @apply text-h2 heading-bold;
}

h3 {
  @apply text-h3 heading-bold;
}

h4 {
  @apply text-h4 font-semibold;
}

h5 {
  @apply text-h5 font-bold;
}

h6 {
  @apply text-h6;
}
