@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: theme('colors.bg.dark');
    --foreground: theme('colors.gray.300');
}

@media (prefers-color-scheme: light) {
    :root {
        --background: theme('colors.bg.light');
        --foreground: theme('colors.basic.black');
    }
}

body {
    @apply text-[var(--foreground)] bg-[var(--background)] font-pretendard;
}

/* 디스플레이 및 헤딩 스타일 */
.display-bold {
    @apply text-display-lg font-bold;
}

.display-regular {
    @apply text-display-lg font-normal;
}

.heading-xl {
    @apply text-heading-xl font-bold;
}

.heading-lg {
    @apply text-heading-lg font-semibold;
}

.heading-md {
    @apply text-heading-md font-semibold;
}

.heading-sm {
    @apply text-heading-sm font-medium;
}

.heading-light {
    @apply font-light;
}

/* HTML 요소에 스타일 적용 */
h1 {
    @apply heading-xl;
}

h2 {
    @apply heading-lg;
}

h3 {
    @apply heading-md;
}

h4 {
    @apply heading-sm;
}

h5 {
    @apply text-body-lg font-bold;
}

h6 {
    @apply text-body-md;
}

@layer base {
    * {
        @apply text-gray-200 break-keep;
    }
}

/* Typography 스타일 */
.prose {
    @apply text-gray-200 font-thin;
}

.prose h1 {
    @apply text-gray-200 text-heading-lg mb-4 leading-[1.2] break-keep font-semibold;
}

.prose h2 {
    @apply text-gray-300 text-heading-md mt-14 mb-6 font-medium;
}

.prose h3 {
    @apply text-gray-300 text-heading-sm mt-6 mb-2;
}

.prose a {
    @apply text-primary-01  underline hover:text-primary-02;
}

.prose p {
    @apply text-body-md leading-relaxed mt-4 mb-4;
}

.prose strong {
    @apply font-bold text-gray-400;
}

.prose table th,
.prose table td {
    @apply text-gray-400;
}

.prose pre {
    @apply bg-gray-900 text-white rounded-xl p-4 overflow-auto mt-6 mb-6;
}

.prose :not(pre) > code {
    @apply bg-gray-800 text-blue-500 px-2 py-1 rounded-md mx-2;
}

.prose ul,
.prose ol {
    @apply pl-6 mt-4 mb-4 list-disc;
}

.prose li {
    @apply mt-1 mb-1;
}

.prose img {
    @apply mx-auto my-6 max-h-96 rounded-lg shadow-md;
}
